.wall
  h1 Message Wall

  ul.messages
    each message in messages
      ul.message
        li.message_name
          p= message.name
        li.message_text
          p= message.text

  form(action='/messages', method='post')
    p
      input(type='text', name='message[name]', value=name).user_name
    p
      textarea(name="message[text]").message_txt
    button(name="_method", value='post').button Post
