.wall
  img(src="/images/messagewall.png")

  ul.messages
    each message in messages
      ul.message
        li.message_name
          p= message.name
        li.message_text
          p= message.text

  form(action='/messages', method='post')
    p
      input(type='text', name='message[name]', value=name).input_box.user_name
    p
      textarea.messageinput(name="message[text]").input_box.message_txt
    button(name="_method", value='post').button Post
