div(class="tombstone")
h1 Brynn and Stuart's Wedding!

.content
	div(class="info")
		ul(class="tombstone")
			li We would like our friends and family to join us in celebrating our marriage
		
		ul(class="tombstone")
			li Friday, the twenty-seventh of July
			li two-thousand and twelve
			li at two o'clock in the afternoon
		
		p
		ul(class="tombstone")
			li 
				a(href="http://maps.google.com/maps?q=parsons+garden+seattle&um=1&ie=UTF-8&hl=en&sa=N&tab=wl") Parsons Garden
			li 7201 E Green Lake Dr N
			li Seattle, Washington

		h2 Reception
		ul(class="tombstone")
			li There will be a picnic reception to follow with snacks, pie and icecream, and quilts for lounging on the lawn
			li Please dress appropriately

		h2 Afterparty
		ul(class="tombstone")
			li As no alcohol is permitted at the park, there will be an afterparty for boozing and dancing
			li Liberty 
			li Address goes here
			li Eight o'clock in the evening to ?
			li Kids welcome!

		h2 Please!
		ul(class="tombstone")
			li No gifts!
			li Pies OK!

.rsvp_container
	iframe(src='/rsvps/new')
