
.content
	div(class="info")
		h1 Brynn and Stuart's Wedding!

		ul(class="tombstone")
			li We would like our friends and family to join us in celebrating our marriage

		ul(class="tombstone")
			li Friday, the twenty-seventh of July
			li two-thousand and twelve
			li at two o'clock in the afternoon

		p
		ul(class="tombstone")
			li
				a(href="http://maps.google.com/maps?q=parsons+garden+seattle&um=1&ie=UTF-8&hl=en&sa=N&tab=wl") Parsons Garden
			li 7th Ave W and W Highland Dr
			li Seattle, Washington

		h2 Reception
		ul(class="tombstone")
			li Picnic reception to follow with snacks, pie and icecream, and quilts for lounging on the lawn
			li Please dress accordingly

		h2 Afterparty
		ul(class="tombstone")
			li As no alcohol is permitted at the park, there will be an afterparty for boozing and dancing
			p
			li 
				a(href="http://www.libertybars.com/") Liberty
			li Address goes here
			li Eight o'clock in the evening to ?
			li Kids welcome!

		h2 Please!
		ul(class="tombstone")
			li No gifts!
			li Pies OK!
		
		div(class="image")
			img(src="/images/frankenbride.jpg")
			p We hope you can be a part of our special day...

.rsvp_container	
	h2(style="color:#175682; font-weight:bold") RSVP
	!= partial('rsvp/rsvp', rsvp)
	
