!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='http://fonts.googleapis.com/css?family=Astloch:400,700|Parisienne|Amatic+SC|Dawning+of+a+New+Day|UnifrakturMaguntia', rel='stylesheet', type='text/css')

	body!= body


