exports.index = (req, res) ->

exports.new = (req, res) ->

exports.create = (req, res) ->

exports.show = (req, res) ->

exports.edit = (req, res) ->

exports.update = (req, res) ->

exports.destroy = (req, res) ->
