body {
  font: 13px "Courier", Arial, sans-serif;
  color: #808080;
  background-color: #edfaff;
}
table,
th,
td,
input,
textarea {
  font: 14px "Georgia", Arial, sans-serif;
}
a {
  color: #4f4f4f;
  text-decoration: none;
}
h1 {
  font-family: 'Cedarville Cursive', cursive;
  font-weight: normal;
  font-size: 32px;
  color: #90817e;
}
h2 {
  font-family: 'Cedarville Cursive', cursive;
  font-weight: bold;
  font-size: 24px;
  color: #175682;
}
.content {
  text-align: center;
  margin-right: 480px;
}
.info {
  width: 800px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 40px 0px 40px 0px;
}
.tombstone {
  text-align: center;
  list-style: none;
}
#group_size {
  width: 3em;
}
ul {
  list-style-position: outside;
  padding: 0px;
}
li {
  font: 12px "Courier", Arial, sans-serif;
  color: #999;
  list-style: none;
}
.needs_validation {
  background: #f5d0cb;
}
.rsvp_container {
  position: fixed;
  width: 400px;
  top: 250px;
  right: 30px;
  padding: 0px 40px 40px 40px;
  background-color: #fff;
  -moz-box-shadow: -3px 3px 10px rgba(0,53,109,0.30);
  -webkit-box-shadow: -3px 3px 10px rgba(0,53,109,0.30);
  box-shadow: -3px 3px 10px rgba(0,53,109,0.30);
}
.image {
  padding-top: 20px;
}
.image iframe {
  width: 100%;
  height: 100%;
  border: none;
}
