opacity(n)
	opacity: n

shadow()
	-moz-box-shadow: arguments
	-webkit-box-shadow: arguments
	box-shadow: arguments

center_vert(height)
	position: fixed
	top: 50%
	margin-top: -(height/2px)


center_horz(width)
	position: fixed
	left: 50%
	margin-left: -(width/2px)

body
	font: 13px "Courier", Helvetica, Arial, sans-serif
	color: gray
	background: url(/images/tissuepaper.jpg)

table, th, td, input, textarea
	font: 14px "Courier", Arial, sans-serif

table
	border-collapse: collapse

thead
	text-align: left
	border-bottom: 1px solid black
tbody tr
	&:nth-child(2n)
		background: lighten(#acf, 80%)


td, th
	padding: 1em

a
	color: #4f4f4f
	text-decoration: none

.content
	text-align: center
	margin-right: 480px


.info
	width: 800px
	margin: auto
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #ffffff;
	padding: 60px 0px 40px 0px;
	shadow: 0px 0px 10px rgba(144,129,126, .5);

.tombstone
	text-align: center
	list-style: none

#group_size
	width: 3em

ul
	list-style-position: outside
	padding: 0px

li
	font: 12px "Courier", Arial, sans-serif
	color: #999999
	list-style: none

.needs_validation
	background: #F5D0CB

.rsvp .input_label
	width: 4em
	margin-right: .5em
	display: inline-block

center_container(width, height)
	center_horz: width
	center_vert: height
	float: left
	padding: 40px 60px 60px 60px
	background-color: #ffffff
	shadow: 0px 0px 10px rgba(144,129,126, .5)

.user
	center_container(292, 229)

.rsvp_search
	center_container(292, 229)

.rsvp_edit
	center_container(380, 340)

.rsvp_index, .wall
	margin: 100px 50px
	padding: 40px 60px 60px 60px
	background-color: #ffffff
	shadow: 0px 0px 10px rgba(144,129,126, .5)
	overflow: auto



.rsvp_container
	center_vert: 379px
	right: 30px
	padding: 40px 100px 40px 50px
	background-color: #ffffff
	shadow: 0px 0px 10px rgba(144,129,126, .5)

.button
	border-radius: 1em 1em 1em 1em
	border: solid 3px #00b7ff
	color: #4f4f4f
	background-color: #ffffff
	font-size: 13px
	padding: .2em 1em .275em
	text-align: center
	display: inline-block
	zoom: 1
	vertical-align: baseline
	margin: 0 2px
	cursor: pointer

	&:hover
		border: solid 3px lighten(#00b7ff, 60%)

our_red = #ec0f2d


.cancel
	border: solid 3px our_red
	float: right

	&:hover
		border: solid 3px lighten(our_red, 60%)


.image
	padding-top: 20px

.wall
	padding: 40px 60px 60px 60px
	width: 600px 
	background-color: #ffffff
	shadow: 0px 0px 10px rgba(144,129,126, .5)

.message
	overflow: auto
	/*
	&:nth-child(1)
		border-top: 1px solid #DDD
		*/
	&:nth-child(2n)
		background: lighten(#acf, 80%)
	li
		float: left
	.message_name
		width: 120px 
		font-weight: bold
	.message_text
		width: 480px

