body {
  font: 13px "Courier", Helvetica, Arial, sans-serif;
  color: #3c3c3c;
  background: url("/images/tissuepaper.jpg");
}
table,
th,
td,
input,
textarea {
  font: 14px "Courier", Arial, sans-serif;
  color: #4f4f4f;
}
table {
  border-collapse: collapse;
}
thead {
  text-align: left;
  border-bottom: 1px solid #000;
}
tbody tr:nth-child(2n) {
  background: #eef5ff;
}
td {
  color: #999;
}
td,
th {
  padding: 1em;
}
a {
  color: #3c3c3c;
  text-decoration: none;
}
a:hover {
  color: #999;
}
h1 {
  color: #808080;
}
input[type=text],
textarea {
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 1px;
  padding-left: 4px;
}
.content {
  text-align: center;
  margin-right: 480px;
}
.info {
  width: 800px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 60px 10px 60px 10px;
  -moz-box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
  -webkit-box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
  box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
}
.tombstone {
  text-align: center;
  list-style: none;
}
#group_size {
  width: 3em;
}
ul {
  list-style-position: outside;
  padding: 0px;
}
li {
  font: 12px "Courier", Arial, sans-serif;
  color: #999;
  list-style: none;
}
.needs_validation {
  background: #f5d0cb;
}
.rsvp .input_label {
  width: 4em;
  margin-right: 0.5em;
  display: inline-block;
}
.user {
  position: fixed;
  left: 50%;
  margin-left: -146px;
  position: fixed;
  top: 50%;
  margin-top: -114.5px;
  float: left;
  padding: 40px 60px 60px 60px;
  background-color: #fff;
  -moz-box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
  -webkit-box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
  box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
}
.rsvp_search {
  position: fixed;
  left: 50%;
  margin-left: -146px;
  position: fixed;
  top: 50%;
  margin-top: -114.5px;
  float: left;
  padding: 40px 60px 60px 60px;
  background-color: #fff;
  -moz-box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
  -webkit-box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
  box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
}
.rsvp_edit {
  position: fixed;
  left: 50%;
  margin-left: -190px;
  position: fixed;
  top: 50%;
  margin-top: -170px;
  float: left;
  padding: 40px 60px 60px 60px;
  background-color: #fff;
  -moz-box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
  -webkit-box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
  box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
}
.rsvp_index,
.wall {
  margin: 100px 50px;
  padding: 40px 60px 60px 60px;
  background-color: #fff;
  -moz-box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
  -webkit-box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
  box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
  overflow: auto;
}
.rsvp_container {
  position: fixed;
  top: 50%;
  margin-top: -189.5px;
  right: 30px;
  padding: 40px;
  background-color: #fff;
  -moz-box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
  -webkit-box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
  box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
}
.button {
  border-radius: 1em 1em 1em 1em;
  border: solid 2px #00b7ff;
  color: #4f4f4f;
  background-color: #fff;
  font-size: 13px;
  padding: 0.2em 1em 0.275em;
  text-align: center;
  display: inline-block;
  zoom: 1;
  vertical-align: baseline;
  margin: 0 2px;
  cursor: pointer;
}
.button:hover {
  border: solid 2px #99e2ff;
}
.cancel {
  border: solid 2px #ec0f2d;
  float: right;
}
.cancel:hover {
  border: solid 3px #f99eaa;
}
.image {
  padding-top: 20px;
  padding-bottom: 20px;
}
.wall {
  padding: 60px;
  width: 600px;
  background-color: #fff;
  -moz-box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
  -webkit-box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
  box-shadow: 0px 0px 10px rgba(144,129,126,0.50);
}
.message {
  overflow: auto;
  padding: 0px 20px 10px 20px;
/*
	&:nth-child(1)
		border-top: 1px solid #DDD
		*/
}
.message:nth-child(2n) {
  background: #eef5ff;
}
.message li {
  float: left;
}
.message .message_name {
  width: 120px;
  font-weight: bold;
  color: #4f4f4f;
}
.user_name {
  width: 160px;
}
.messageinput {
  width: 320px;
  height: 80px;
}
.message_text {
  width: 400px;
  color: #4f4f4f;
}
