opacity(n)
	opacity: n
	
body
	padding: 50px 50px 50px 100px;
	font: 16px "Georgia", Arial, sans-serif;
	color: gray;

	margin: auto;

table, th, td, input, textarea
	font: 14px "Georgia", Arial, sans-serif;

a
	color: #00B7FF
	text-decoration: none;

h1
	font-family: 'Astloch', cursive;
	//font-family: 'Parisienne', cursive;
	//font-family: 'Sofia', cursive;
	//font-family: 'Alex Brush', cursive;
	//font-family: 'Amatic SC', cursive;
	//font-family: 'Dawning of a New Day', cursive;
	//font-family: 'UnifrakturMaguntia', cursive;
	font-weight: normal;
	font-size: 44pt;
	color: #000000;
	
.content
	width: 1000px;
	
	
.info
	float: left;
	padding: 0px 80px 0px 20px;
	

.date
	text-align: center;
	list-style: none;

#group_size
	width: 3em
	
ul
	list-style-position: outside

.needs_validation
	background: #F5D0CB


.rsvp_container
	position: fixed
	height: 100%
	width: 400px
	top: 0px
	right: 0px
	
	iframe
		width: 100%
		height: 100%
		border: none
