body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#group_size
	width: 3em
	
ul
	list-style-position: outside

.needs_validation
	background: #F5D0CB

