.rsvp_search.cent_vert.cent_horz
  if err
    p.error= err
  form(action="/rsvps/search", method="post").rsvp_search_form
    p
      label(for='email') Enter your email:
    p
      input(type='text', name='email', value="", autofocus).email_search_field
    p
      input(type='submit', name='submit', value='Search').button
